
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
@import "tailwindcss";

@layer theme {
    :root {
        --default-font-family: "Cal Sans", sans-serif;
    }
}

@layer base {
    h1,h2,h3,h4,h5,h6 {
        font-family: var(--default-font-family);
    }
}

@layer components {
    .box { 
        @apply bg-gray-500 text-white rounded flex items-center justify-center overflow-hidden;
        
    }
}

@layer utilities {
    .aspect-portrait {
        aspect-ratio: 1/2;
    }
  
}